* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
	text-align: center;
	size:1.5em;
	margin-left:5px;
}

.column{
	clear:right;
	float:left;
}

.sectionitem{
	border-style: solid;
	background-color: gray;
	border-width: 1px;
	margin: 5px;
}

.sectioncontent{
	padding:5px 5px 5px 5px;
	height:100px;
	overflow:hidden;
}

.sectioncontent:hover{
	cursor: ns-resize;
	overflow: auto;
}

.sectionheader{
	size:1.25em;
	text-align: center;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	border-style: solid;
}

div{
	clear:both;
}

#chicken{
	background-color: pink;
}

#beef{
	background-color: red;
}

#sushi{
	background-color: yellow;
}

@media(min-width: 992px){
	.column{
		width:33%;
	}
}

@media(min-width: 768px) and (max-width: 991px){
	.column{
		width:50%;
	}
	#lastcolumn{
		width:100%;
	}
}

@media(min-width:769px){
	.sectionheader{
		float:right;
		width:150px;
	}
	.mobile{
		visibility: hidden;
		display:none;
	}
	.desktop{
		visibility: visible;
	}
	.sectionheader{
		border-width: 0px 0px 1px 1px;
	}
}

@media(max-width:767px){
	.mobile{
		visibility: visible;
	}
	.desktop{
		visibility: hidden;
		display:none;
	}
	h1{
		text-align:left;
	}
	.sectionheader{
		border-width: 0px 0px 1px 0px;
	}
}